<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/owariya.png" type="image/x-icon">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Message }}" />
    <meta property="og:url" content="https://{{ .Host }}/" />
    <meta property="og:site_name" content="owari.shop" />
    <meta property="og:image" content="https://{{ .Host }}/owariya.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cyanolupus" />
    <meta name=“twitter:image” content=“https://{{ .Host }}/owariya.png“ />
    <style>
        .btn{align-items:center;width:60px;height:60px;font-size:30px;border-radius:10%;border:none;background:#fff;}
        .btn:hover{background: #aaa;}
    </style>
</head>

<body>
<h1>{{ .Title }}</h1>
{{ .Message }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
<script>new Clipboard('.btn').on('success',function(e){document.getElementById("copybtn").innerHTML="✅";});</script>

<div>
    <button id="copybtn" class="btn" data-clipboard-text="{{ .Title }}&#10;https://{{ .Host }}">📋</button>
</div>

<!-- Cloudflare Workers -->

</body>
</html>
