<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/owariya.png" type="image/x-icon">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Message }}" />
    <meta property="og:url" content="https://{{ .Domain }}/" />
    <meta property="og:site_name" content="{{ .Title }}" />
    <meta property="og:image" content="https://{{ .Domain }}/owariya.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cyanolupus" />
    <meta name=“twitter:image” content=“https://{{ .Domain }}/owariya.png“ />
</head>

<body>
<h1>{{ .Title }}</h1>
{{ .Message }}

<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_copy_link"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_mastodon"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

<!-- Cloudflare Workers -->

</body>
</html>
